{% extends "base.html" %}
{% load static %}

{% block title %}ShopSphere - Your Cart{% endblock %}

{% block content1 %}
<section class="section">
    <h1>Your Cart</h1>
    {% if cart_items %}
    <div class="cart-list">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.prices }}$</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.subtotal }}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-total">
            <strong>Total:</strong>{{ total_cost }}$
        </div>
         <div class="add_more_in_cart">
            <a style="background-color:  #0ea5e9; padding: 10px 30px; font-size: 1.5rem; color: white; text-decoration: none; border-radius: 10px; display:flex;justify-content: center; align-item: center; margin-top: 2rem;" href="{% url "products:allproducts" %}">Add More</a>
      </div>
    </div>
    {% else %}
    <p>Your cart is empty. Add some products from the <a href="{% url 'products:allproducts' %}">products page</a>.</p>
     
    {% endif %}
</section>
{% endblock %}
